{% extends 'base.html' %}

{% block content %}

<div class="card text-white bg-info mx-auto my-auto" style="width: 90%;">
  <div class="card-header">ASHISH KARKI</div>
  <div class="card-body">
    <h5 class="card-title">Software Enthusiast</h5>
    <p class="card-text">
        Experienced Software Developer with seven years’ experience designing and building user friendly and high performance full-stack applications.

        <br/>
        <hr />
        <strong>Location</strong>: Kathmandu valley, Nepal

        <br/>
        <hr />
        <strong>LinkedIn Profile</strong>: https://www.linkedin.com/in/ashish-karki/
    </p>
  </div>
</div>

{% endblock %}
