<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Weather Lookup App Using Python Django</title>

    <style>
      .good {
        background-color: #2eb82e;
      }
      .moderate {
        background-color: #664b00;
      }
      .usg {
        background-color: #cc8033;
      }
      .unhealthy {
        background-color: #cc3333;
      }
      .veryunhealthy {
        background-color: #903f97;
      }
      .hazardous {
        background-color: #66192f;
      }
    </style>
  </head>

  <body>
    <!-- Nav-bar -->
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li>
            <a href="{% url 'home' %}" class="brand-logo">Weather Lookup</a>
          </li>
          <li class="right">
            <a href="{% url 'about' %}" class="white-text">About Me</a>
          </li>
          <li class="right" style="width: 30%">
            <form action="{% url 'home' %}" class="my-2 mg-lg-0" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <input
                  type="search"
                  class="form-control col-sm-7 mx-1"
                  placeholder="Enter zip and click Lookup"
                  aria-label="search"
                />

                <button type="submit" class="btn btn-info my-2 col-sm-3">
                  Lookup
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <br />
    <div class="container">{% block content %} {% endblock %}</div>

    <!--JavaScript at end of body for optimized loading-->
    <!-- jQuery library -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>

    <!-- Popper JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
      defer
    ></script>

    <!-- bootstrap 4.x js -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      defer
    ></script>

    <!-- materialize js -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
  </body>
</html>
